---
import Layout from '../components/Layout.astro';
import background from '../images/background-hipster-ia.png';
import rocket from '../images/logo-twitch.svg';
import email from '../images/mail-outline.svg';
import calendar from '../images/calendar-outline.svg';
import FeedbackForm from '../components/FeedbackForm.astro';
---

<Layout
  title="Le rendez-vous échecs et intelligence artificielle, sur Montréal"
>
  <section class="wrapper">
    <main>
      <h1>
        Le rendez-vous <span class="highlight">échecs</span> et <span
          class="highlight2">intelligence artificielle</span
        >, sur <span class="highlight">Montréal</span>, saison 1, <span
          class="highlight">été 2023</span
        >
      </h1>
      <div class="cit">...celui que l'on attend tous</div>
      <img
        class="bkg-main"
        src={background}
        alt="Logo généré par l'IA - Midjourney"
        title="Logo généré par l'IA - Midjourney"
      />
      <section>
        <h2>Venez passer un moment convivial.</h2>
        <p>
          Vous êtes passionné par l'intelligence artificielle&nbsp;? Vous
          souhaitez vous détendre après une longue journée de travail et
          partager vos idées avec d'autres passionnés&nbsp;? Rejoignez-nous pour
          un moment convivial, on en a tous besoin.
        </p>
        <p>Nous vous proposons :</p>
        <ul>
          <li>
            Une <span class="highlight">boisson rafraîchissante</span> et un peu
            d'ombre
          </li>
          <li>
            Des parties d'échecs passionnantes pour <span class="highlight"
              >défier votre esprit</span
            > ou <span class="highlight">simplement apprendre</span>
          </li>
          <li>
            Des <span class="highlight">discussions super intéressantes</span> sur
            le sujet de l'intelligence artificielle
          </li>
        </ul>
        <p>
          Peu importe votre profession, que vous soyez développeur, chercheur,
          étudiant ou simplement curieux, vous êtes les bienvenus&nbsp;!
        </p>
        <p>
          Rejoignez-nous pour des moments de détente, de réflexion et de
          plaisir&nbsp;! Si tu fermes les yeux, tu auras même l'impression
          d'entendre le bruit du feu.
        </p>
      </section>

      <section>
        <div class="subtitle--withicon">
          <img
            class="i-calender-outline"
            src={calendar}
            alt="Date du prochaine evenement"
          />
          <h2>18 Juillet 2023 rue Castelnau en face des givrés à 18h30 ( au spot fizz ) </h2>
        </div>

        <p>
          Notre prochaine session du rendez-vous échecs et intelligence
          artificielle aura lieu le 15 juin 2023. C'est l'occasion idéale de
          rencontrer d'autres passionnés, d'échanger des idées avec des
          personnes vraiment sympatiques.
        </p>
        <p>
          La session sera animée par moi même et deux personnes très
          inspirantes&nbsp;:
        </p>
        <ul>
          <li>
            <strong class="highlight">Marie Dupont</strong>, 30 ans,
            Illustratrice, passionnée de design Marie apportera surement un jour
            une perspective unique sur l'intersection entre le design et
            l'intelligence artificielle. Elle est enthousiaste à l'idée d'être
            au soleil et de boire une bière.
          </li>
          <li>
            <strong class="highlight">Thug Martin</strong>, 40 ans, Professeur
            de chimie et accessoirement père de trois filles, Martin découvre
            les échecs et l'intelligence artificielle en tant que newbe. Il est
            motivé par l'idée de comprendre comment l'IA peut améliorer sa vie
            et ouvrir de nouvelles perspectives dans son domaine d'expertise.
            Mais il va surement rien comprendre.
          </li>
        </ul>
        <p>
          Vous souhaitez participer à cette session enrichissante&nbsp;? Contactez moi par courriel:
        </p>
        <a href="mailto:dlamoureux.web@gmail.com" class="link-email">
          <img class="link-emailImage" src={email} alt="icon email" />
          Envoyer un e-mail</a
        >
        <p>Ou simplement en remplissant le formulaire suivant&nbsp;:</p>
        <FeedbackForm />
        <p>
          Nous vous fournirons plus d'informations sur l'événement et nous vous
          réserverons une place, une partie, un ribs.
        </p>
        <p>
          Ne manquez pas cette occasion de rencontrer des esprits curieux, de
          découvrir de nouvelles idées et de développer votre passion pour
          l'intelligence artificielle et les échecs.
        </p>
        <div class="cit">...ia ia o</div>
      </section>
      <section>
        <h2>Rejoignez-nous sur Twitch</h2>
        <p>
          Nous sommes super enthousiastes de vous annoncer que nous serons
          également en direct sur Twitch lors de nos sessions du rendez-vous
          échecs et intelligence artificielle. C'est une excellente occasion de
          nous rejoindre en ligne, de partager des parties d'échecs
          passionnantes, de participer à des discussions animées et de poser vos
          questions en direct.
        </p>
        <p>
          Pour découvrir notre chaîne Twitch, il vous suffit de cliquer sur le
          lien ci-dessous&nbsp;:
        </p>
        <a
          href="https://www.twitch.tv/unitendded/"
          target="_blank"
          class="link-twitch"
        >
          <img class="link-twitchImage" src={rocket} alt="logo twitch" /> Rejoignez-nous
          sur Twitch</a
        >
      </section>
    </main>

    <section>
      <h2>Qu'est-ce que l'intelligence artificielle&nbsp;?</h2>
      <p>
        L'intelligence artificielle (IA) est un domaine de l'informatique qui se
        concentre sur la création de machines capables de simuler l'intelligence
        humaine. Elle vise à développer des systèmes capables de percevoir,
        comprendre, apprendre et raisonner, ainsi que d'effectuer des tâches
        généralement associées à l'intelligence humaine.
      </p>
    </section>

    <section>
      <h2>Domaines d'application de l'IA</h2>
      <ul>
        <li>Reconnaissance vocale et traitement du langage naturel</li>
        <li>Vision par ordinateur et reconnaissance d'images</li>
        <li>Apprentissage automatique et apprentissage profond</li>
        <li>Robotique intelligente</li>
        <li>Systèmes de recommandation</li>
      </ul>
    </section>

    <section>
      <h2>Histoire des Échecs et de l'Intelligence Artificielle</h2>
      <section>
        <p>
          L'histoire des échecs et de l'intelligence artificielle remonte à
          plusieurs décennies. Les échecs, l'un des jeux de stratégie les plus
          anciens, ont toujours été un terrain fertile pour tester et développer
          les capacités intellectuelles. L'intelligence artificielle, quant à
          elle, s'est intéressée aux échecs comme défi pour démontrer les
          performances des algorithmes et des machines.
        </p>
        <p>
          Le point de départ marquant a été le match d'échecs entre le
          superordinateur IBM Deep Blue et le champion du monde d'échecs Garry
          Kasparov en 1997. Deep Blue a réussi à remporter la victoire contre
          Kasparov, marquant un tournant dans l'histoire de l'intelligence
          artificielle.
        </p>
        <p>
          Cependant, les travaux sur l'intelligence artificielle dans les échecs
          ont commencé bien avant cela. Au début des années 1950, le
          mathématicien et informaticien britannique Alan Turing a proposé une
          idée fondamentale : la création d'une machine capable de simuler le
          raisonnement humain. Cette idée a jeté les bases des premiers
          programmes d'échecs informatiques.
        </p>
        <p>
          En 1956, le programme d'échecs MANIAC I a été développé, devenant
          ainsi le premier programme informatique à jouer aux échecs. Depuis
          lors, de nombreux chercheurs et développeurs se sont intéressés à la
          création de programmes d'échecs capables de rivaliser avec les
          meilleurs joueurs humains.
        </p>
        <p>
          Un moment marquant est survenu en 1996, lorsque le programme d'échecs
          Deep Blue d'IBM a affronté Garry Kasparov pour la première fois. Bien
          que Kasparov ait remporté ce match, la revanche en 1997 a vu Deep Blue
          triompher, devenant ainsi la première machine à battre un champion du
          monde d'échecs en match.
        </p>
        <p>
          Depuis lors, les avancées dans l'intelligence artificielle et les
          échecs ont continué de se développer conjointement. Les moteurs
          d'échecs basés sur des algorithmes de recherche, tels que Stockfish et
          AlphaZero, ont atteint des niveaux de jeu extrêmement élevés,
          surpassant la plupart des joueurs humains.
        </p>
        <p>
          Aujourd'hui, l'intelligence artificielle dans les échecs ne se limite
          pas seulement aux programmes informatiques. Les joueurs professionnels
          utilisent également des programmes d'échecs pour analyser leurs
          parties, découvrir de nouvelles stratégies et améliorer leur jeu.
          L'intelligence artificielle est devenue un outil précieux pour les
          joueurs d'échecs de tous niveaux.
        </p>
      </section>
    </section>
  </section>

  <footer>
    <p>&copy; Damien Lamoureux. Tous droits non réservés.</p>
  </footer>

  <style>
    .subtitle--withicon {
      display: flex;
      align-items: center;
    }
    .subtitle--withicon img {
      height: 48px;
      margin-right: 0.5rem;
    }
    .highlight {
      color: #df1549;
      font-weight: bold;
    }
    .highlight2 {
      color: #bf8b31;
      font-weight: bold;
    }
    .cit {
      font-size: 0.875rem;
      font-style: italic;
      text-align: right;
    }
    .link-twitch {
      display: flex;
      align-items: center;
      color: #9146ff;
      font-weight: bold;
    }
    .link-twitchImage {
      height: 32px;
      margin-right: 0.5rem;
    }
    .link-email {
      display: flex;
      align-items: center;
      color: #1991cb;
      font-weight: bold;
    }
    .link-emailImage {
      height: 32px;
      margin-right: 0.5rem;
    }

    footer {
      text-align: center;
      color: #999;
    }
    .bkg-main {
      display: block;
      width: 100%;
      max-width: 480px;
      margin: 0 auto;
    }

    /* Styles pour le main */
    .wrapper {
      max-width: 54rem;
      margin-left: auto;
      margin-right: auto;
    }
  </style>
</Layout>
