---
import Layout from '../components/Layout.astro';
---

<Layout title="Astro Toolbox">
  <div class="container">
    <main>
      <h1>Merci ! On vous contacte bientôt</h1>
      <a href="/">Retourner sur la page d'accueil</a>.
    </main>
  </div>
</Layout>

<style>
  a {
    color: #df1549;
    font-weight: bold;
  }
</style>